{% extends "base.html.twig" %}

{% block title %}
	{{ parent()}}À propos
{% endblock %}

{% block body %}

	<div class="container px-3">
		<div class="columns is-centered mb-5">
			<div class="column is-four-fifths">
				<h2 class="has-text-primary has-text-weight-bold is-size-4 mt-5 mb-4">
					<span class="underline-title">Quoi ?
					</span>
				</h2>

				<p>
					<span class="has-text-primary has-text-weight-bold">Ici<span class="has-text-secondary">On</span>Parle</span>
					est un mixte entre des
					<a target="_blank" href="https://le-democrate.fr/ateliers-constituants/">ateliers constituants</a>
					(groupes),
					<a target="_blank" href="https://www.conventioncitoyennepourleclimat.fr/">la convention citoyenne pour le climat</a>
					(tirage au sort) et
					<a target="_blank" href="https://fr.wikipedia.org/wiki/Assembl%C3%A9e_des_assembl%C3%A9es">l'assemblée des assemblées des gilets jaunes</a>
					(représentativité).
				</p>
				<h2 class="has-text-primary has-text-weight-bold is-size-4 mt-5 mb-4">
					<span class="underline-title">Pourquoi ?
					</span>
				</h2>

				<p>
					Pour qu'un système démocratique fonctionne, il faut à la fois de la participation et de la délibération. Au sein d'un petit groupe, la participation et la délibération se font naturellement. Avec un groupe plus important, la délibération entre les individus devient plus compliquée. Il y a donc moins d'intéractions, les individus se sentent moins impliqués dans les décisions et au final cela provoque une baisse de la participation. Comme nous pouvons le constater dans nos "démocraties" modernes.
					<br>
					<span class="has-text-primary has-text-weight-bold">Ici<span class="has-text-secondary">On</span>Parle</span>
					a pour but de créer un espace de délibération en dépassant les limites du nombre de participants.
				</p>
				<h2 class="has-text-primary has-text-weight-bold is-size-4 mt-5 mb-4">
					<span class="underline-title">Comment ?
					</span>
				</h2>

				<p>
					<span class="has-text-primary has-text-weight-bold">Ici<span class="has-text-secondary">On</span>Parle</span>
					est une implémentation du concept de pyramide délibérative randomisé.
					<br>
					Le but de ce concept est de faire remonter tous les points de vues sur un sujet. Pour cela, les participants sont répartis en petits groupes pour délibérer sur un sujet. Une fois la délibération terminée, une personne de chaque groupe est tirée au sort pour représenter les idées de son groupe. Les représentants sont ensuite répartis dans des petits groupes et les étapes de délibération et de tirage au sort sont réitérés jusqu'à qu'il n'y est plus qu'un seul groupe.
					<br>
					Les membres du dernier groupe synthétisent les points de vue qu'ils ont rencontrés au cours de l'événement. Cette synthèse est ensuite envoyée à tous les participants de l'événement.
				</p>
				<h2 class="has-text-primary has-text-weight-bold is-size-4 mt-5 mb-4">
					<span class="underline-title">Pour qui ?
					</span>
				</h2>

				<p>
					<span class="has-text-primary has-text-weight-bold">Ici<span class="has-text-secondary">On</span>Parle</span>
					est ouvert à tous afin de permettre à chacun de partager ses opinions, ses questions et ses ressources.
				</p>
				<h2 class="has-text-primary has-text-weight-bold is-size-4 mt-5 mb-4">
					<span class="underline-title">FAQ
					</span>
				</h2>

				<p>
					Pour toutes questions sur
					<span class="has-text-primary has-text-weight-bold">Ici<span class="has-text-secondary">On</span>Parle</span>, n'hésitez pas à envoyer un mail à
					<a href="mailto:contact@ici-on-parle.fr">contact@ici-on-parle.fr</a>, la question sera ensuite reportée dans cette FAQ.
				</p>
			</div>
		</div>


	</div>

{% endblock %}
