
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> docker-compose ###
/.env

###> symfony/webpack-encore-bundle ###
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###

###> data ###
/data/*
###> data ###

###> etherpad ###
/Etherpad/APIKEY.txt
/Etherpad/SESSIONKEY.txt
###> etherpad ###


