@import "./bulma.scss";
@import "./components.scss";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

@font-face {
  font-family: "Nunito";
  src: url("../fonts/Nunito/Nunito-ExtraLight.ttf");
  font-weight: 200;
}
@font-face {
  font-family: "Nunito";
  src: url("../fonts/Nunito/Nunito-Light.ttf");
  font-weight: 300;
}
@font-face {
  font-family: "Nunito";
  src: url("../fonts/Nunito/Nunito-Regular.ttf");
  font-weight: normal;
}
@font-face {
  font-family: "Nunito";
  src: url("../fonts/Nunito/Nunito-SemiBold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: "Nunito";
  src: url("../fonts/Nunito/Nunito-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: "Nunito";
  src: url("../fonts/Nunito/Nunito-ExtraBold.ttf");
  font-weight: 900;
}

html {
  padding: 0;
  margin: 0;
  background-color: #f6f6f6;
  max-width: calc(100vw - 10px);
  min-height: calc(100vh + 210px);
  position: relative;
}

body {
  min-height: calc(100vh + 210px);
  padding: 0;
  padding-bottom: 250px;
  margin: 0;
  position: relative;
  font-family: "Nunito", BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    "Helvetica", "Arial", sans-serif;
  max-width: calc(100vw - 10px);
}

nav {
  background-color: transparent !important;
  .navbar-item {
    .nav-link {
      color: $dark;
      font-size: 0.85em;
    }
    .nav-link:hover {
      color: $primary !important;
    }
  }

  .logo-icon {
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }

  .logo-text {
    font-family: "Nunito";
    font-weight: 700;
    color: $primary;
    font-size: 18px;
  }
}

footer {
  min-height: 200px;
  background-color: $primary-dark;
  position: absolute;
  width: 100%;
  bottom: 0;
}

@media screen and (min-width: 800px) {
  body {
    min-height: calc(100vh + 200px);
  }
}
