@import "./bulma.scss";

html {
  padding: 0;
  margin: 0;
  background-color: #f6f6f6;
}

body {
  min-height: -webkit-fill-available;
  padding: 0;
  margin: 0;
  position: relative;
}

nav {
  background-color: transparent !important;
  .navbar-item {
    .nav-link {
      color: $dark;
      font-size: 0.85em;
    }
    .nav-link:hover {
      color: $primary !important;
    }
  }
}

.tabs-content {
  section {
    display: none;
  }

  section.is-active {
    display: block;
  }
}

#embed-etherpad {
  position: absolute;
  height: calc(100vh - 220px);
  top: 150px;
  width: 100vw;
  left: 0;
  right: 0;
}

@media screen and (min-width: 600px) {
  #embed-etherpad {
    position: relative;
    height: 70vh;
    top: 0;
    width: 100%;
  }
}
