@charset "utf-8";
@import "~bulma/sass/utilities/initial-variables";
@import "~bulma/sass/utilities/functions";

$primary: #2b4c8c;
$primary-dark: #2e3552;

$secondary: #fa9746;
$secondary-invert: findColorInvert($secondary);
$secondary-light: findLightColor($secondary);
$secondary-dark: findDarkColor($secondary);

@import "~bulma/sass/utilities/derived-variables";

$addColors: (
  "secondary": (
    $secondary,
    $secondary-invert,
    $secondary-light,
    $secondary-dark,
  ),
);

$colors: map-merge($colors, $addColors);

$size-8: 0.55rem;

$sizes: $size-1 $size-2 $size-3 $size-4 $size-5 $size-6 $size-7 $size-8;

@import "~bulma/bulma";
