{% extends "base.html.twig" %}

{% block title %}
	{{ parent()}}Erreur
{% endblock %}

{% block body %}

	<div class="container px-3 mt-5">
		<h1 class="has-text-primary has-text-centered is-primary mt-5 is-size-3 is-size-4-touch has-text-weight-bold">Une erreur s'est produite</h1>
	</div>

{% endblock %}
